canvas {

    opacity: 0.25;
    pointer-events: none;

}

content {

    position: absolute;
    left: 276px;
    top: 0px;

    width: calc( ( 100vw - 276px ) - 48px );
    height: calc( 100vh - 16px );

    animation: slide 1s ease-out forwards;
    overflow-y: auto;
    padding: 16px 16px 0px 32px;

}

content * {

    width: calc( 50vw - 16px );

    animation: fade-in 1s ease-out forwards ;

}

