@font-face {

    font-family: "title";
    src: url( "/assets/fonts/UberMoveBold.otf" );

}

@font-face {

    font-family: "button";
    src: url( "/assets/fonts/UberMoveMedium.otf" );

}

@font-face {
    font-family: "text";
    src: url( "/assets/fonts/Montserrat-VariableFont_wght.ttf" );
}

*::-webkit-scrollbar {

    width: 12px;
    height: 12px;               /* width of the entire scrollbar */

}

*::-webkit-scrollbar-track {

    background: transparent;        /* color of the tracking area */

}

*::-webkit-scrollbar-thumb {

    background-color: cyan;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid transparent;  /* creates padding around scroll thumb */

}

//

body {

    width: 100vw;
    height: 100vh;

    background: #212121;
    margin: 0px;
    overflow: hidden;

}

iframe#content {

    position: absolute;
    left: 0px;
    bottom: 0px;

    width: 100vw;
    height: calc( 100vh - 64px );

    border: none;
    overflow: hidden;
    transition: height 0.5s ease;

}

img-container {
    
    width: auto;
    max-width: calc( 100% - 32px );
    height: 268px;

    background: #161616;
    border-radius: 8px;
    display: inline-block;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 16px;
    white-space: nowrap;

    & img-box {

        position: relative;

        width: 455px;
        height: 256px;

        margin: 0px 8px 0px 0px;

        display: inline-block;
        border-radius: 8px;
        overflow: hidden;

        &:hover {

            z-index: 2;

        }

        &:last-of-type {

            margin: 0px;

        }

        & img {

            width: 100%;
            height: 100%;

        }

        & img-date {

            position: absolute;
            left: 0px;
            bottom: 0px;

            width: 128px;
            height: 32px;

            background: rgba( black, 0.75 );
            border-radius: 0px 8px 0px 0px;
            color: white;
            display: inline-block;
            font-family: "button";
            font-size: 18px;
            line-height: 32px;
            text-align: center;

        }

    }

}

h1 {

    color: cyan;
    font-family: "title";

}

heading {

    position: absolute;
    left: 276px;
    top: 0px;

    width: calc( 100vw - 256px );
    height: 96px;

    animation: slide-heading 1s ease-out forwards;
    background: #272727;
    border-bottom: solid 1px grey;
    text-align: left;

    z-index: 2;

    & h1 {

        margin: 16px 0px 0px 32px;

        animation: slide-heading-h1 1s ease-out;

    }

    & p {

        position: absolute;
        left: 32px;
        top: 40px;

    }

}

index {

    position: absolute;
    left: 0px;
    top: 0px;

    width: 276px;
    height: 100vh;

    background: #323232;
    border-right: solid 1px grey;
    text-align: left;

    z-index: 3;

    & a {

        margin: 8px 8px 0px 16px;

        color: cyan;
        display: block;
        font-family: "button";
        font-size: 20px;
        text-decoration: none;
        transition: 0.15s ease-out;

        &:first-of-type {

            margin-top: 16px;

        }

        &:hover {

            margin-left: 24px;

            color: white;

        }

    }

    & button {

        position: relative;

        width: calc( 100% );
        height: 48px;

        animation: slide-index-button 1s ease-out forwards;
        background: transparent;
        border: none;
        cursor: pointer;
        transition: 0.15s ease;

        &:hover {

            background: #484848;

            & img { margin-left: 8px; transform: rotate( 15deg ); }
            & div { margin-left: 8px; color: cyan; }

        }

        & img {

            position: absolute;
            left: 8px;
            top: 8px;

            width: 32px;
            height: 32px;

            border-radius: 4px;
            pointer-events: none;
            transition: 0.15s ease;

        }

        & div {

            position: absolute;
            left: 56px;
            top: 0px;

            width: calc( 100% - 64px );
            height: 100%;

            color: white;
            font-family: "button";
            font-size: 20px;
            line-height: 48px;
            pointer-events: none;
            text-align: left;
            transition: 0.15s ease;

        }

    }

}

me-low-poly {

    position: absolute;
    right: 0px;
    bottom: 0px;

    width: 128px;
    height: 128px;

    background-image: url( "/assets/img/icons/me-head-right-2048.png" );
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: 128px 128px;
    cursor: pointer;
    opacity: 0.75;
    transform: scaleX( -1 );
    transition: 0.15s ease;

    z-index: 4;

    &:hover {

        margin-right: 8px;

        opacity: 1;

    }

}

nav-bar {

    position: absolute;
    left: 0px;
    top: 0px;

    width: 100vw;
    height: 80px;

    background: transparent;
    text-align: left;
    transition: height 0.5s ease, background 0.5s ease;
    user-select: none;

    z-index: 3;

    & nav-left {

        height: 100%;

        align-items: center;
        display: flex;
        float: left;
        justify-content: flex-start;

        & nav-title {

            margin: 0px 32px 0px 32px;

            color: white;
            font-family: 'title';
            font-size: 32px;
            letter-spacing: 1px;

        }

        & nav-btn {

            margin-right: 16px;

            color: white;
            font-family: 'button';
            font-size: 20px;
            letter-spacing: 1px;
            transition: 0.5s ease;

            cursor: pointer;

            &[ selected ] {

                color: gold;

            }

            &:hover {

                margin-left: 8px;
                margin-right: 24px;

                color: cyan;

            }

        }

    }

}

p {

    color: white;
    font-family: "text";
    font-size: 18px;

    & a {

        color: cyan;
        font-weight: bold;
    
    }

}

ul {

    color: white;
    font-family: consolas;
    font-size: 18px;

    & li {

        color: aquamarine;

    }

}

// radial-gradient(circle,#73aad6,#003962,#000)

@keyframes fade-in {

    from {
        
        opacity: 0;

    } to {

        opacity: 1;

    }

}

@keyframes scale-up {

    from {

        transform: scale( 0 );

    } to {

        transform: scale( 1 );

    }

}

@keyframes slide {

    from {

        padding-left: 128px;

    } to {

        padding-left: 32px;

    }

}

@keyframes slide-heading-h1 {

    from {
        
        margin-left: 64px;
        opacity: 0;

    } to {

        margin-left: 32px;
        opacity: 1;

    }

}

@keyframes slide-index-button {

    from {
        
        margin-left: 32px;
        opacity: 0;

    } to {

        margin-left: 0px;
        opacity: 1;

    }

}

@keyframes slide-heading {

    from {
        
        margin-top: -96px;
        opacity: 0;

    } to {

        margin-top: 0px;
        opacity: 1;

    }

}




