@font-face {

    font-family: "title";
    src: url( "/assets/fonts/UberMoveBold.otf" );

}

@font-face {

    font-family: "button";
    src: url( "/assets/fonts/UberMoveMedium.otf" );

}

@font-face {
    font-family: "text";
    src: url( "/assets/fonts/Montserrat-VariableFont_wght.ttf" );
}

*::-webkit-scrollbar {

    width: 12px;
    height: 12px;               /* width of the entire scrollbar */

}

*::-webkit-scrollbar-track {

    background: transparent;        /* color of the tracking area */

}

*::-webkit-scrollbar-thumb {

    background-color: cyan;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid transparent;  /* creates padding around scroll thumb */
    
}

//

body {

    width: 100vw;
    height: 100vh;

    background: #212121;
    margin: 0px;
    overflow: hidden;

}

iframe#content {

    position: absolute;
    left: 0px;
    bottom: 0px;

    width: 100vw;
    height: calc( 100vh - 64px );

    border: none;
    transition: height 0.5s ease;

}

nav-bar {

    position: absolute;
    left: 0px;
    top: 0px;

    width: 100vw;
    height: 80px;

    background: transparent;
    text-align: left;
    transition: height 0.5s ease, background 0.5s ease;
    user-select: none;

    z-index: 3;

    & nav-left {

        height: 100%;

        align-items: center;
        display: flex;
        float: left;
        justify-content: flex-start;

        & nav-title {

            margin: 0px 32px 0px 32px;

            color: white;
            font-family: 'title';
            font-size: 32px;
            letter-spacing: 1px;

        }

        & nav-btn {

            margin-right: 16px;

            color: white;
            font-family: 'button';
            font-size: 20px;
            letter-spacing: 1px;
            transition: 0.5s ease;

            cursor: pointer;

            &[ selected ] {

                color: gold;

            }

            &:hover {

                margin-left: 8px;
                margin-right: 24px;

                color: cyan;

            }

        }

    }

}

// radial-gradient(circle,#73aad6,#003962,#000)