content {

    position: absolute;
    left: 276px;
    top: 96px;

    width: calc( ( 100vw - 276px ) - 32px );
    height: calc( 100vh - 112px );

    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: "text";
    font-size: 18px;
    line-height: inherit;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 16px 16px 0px 16px;
    text-align: center;
    transition: background-image 1s ease;

    & project {

        position: relative;

        width: 50vw;
        height: 112px;

        margin: 8px 0px 0px 0px;

        animation: slide-index-button 1s ease-out;
        background: #323232;
        border-radius: 8px;
        cursor: pointer;
        display: inline-block;
        transition: 0.15s ease;

        &:first-of-type {

            margin-top: 0px;

        }

        &:hover {

            margin-left: 16px;

            background: #424242;

        }

        & div {

            position: absolute;
            left: 120px;
            top: 72px;

            width: 256px;
            height: 32px;

            align-items: center;
            display: flex;
            flex-direction: row;
            gap: 4px;
            justify-content: flex-start;

            & img {

                position: relative;
                left: 0px;
                top: 0px;

                width: 32px;
                height: 32px;

                animation: scale-up 0.5s ease-out;
                border-radius: 0px;
                cursor: pointer;
                transition: 0.15s ease;

                &:hover {

                    transform: scale( 1.125 );

                }

            }

        }

        & h1 {

            position: absolute;
            left: 120px;
            top: 8px;

            margin-top: 0px;

            font-size: 24px;

        }

        & img {

            position: absolute;
            left: 8px;
            top: 8px;

            width: 96px;
            height: 96px;

            border-radius: 8px;

            &[ github ] {

                left: auto;
                top: 4px;
                right: 8px;

                width: 32px;
                height: 32px;

                border-radius: 0px;
                cursor: pointer;
                transition: 0.5s ease;

                &:hover {

                    transform: scale( 1.125 ) rotate( -15deg );

                }

            }

            &[ progress ] {

                left: auto;
                top: 40px;
                right: 8px;

                width: 32px;
                height: 32px;

                border-radius: 0px;
                cursor: pointer;
                transition: 0.5s ease;

                &:hover {

                    transform: scale( 1.125 ) rotate( -15deg );

                }

            }

            &[ npm ] {

                left: auto;
                top: 76px;
                right: 8px;

                width: 32px;
                height: 32px;

                border-radius: 0px;
                cursor: pointer;
                transition: 0.5s ease;

                &:hover {

                    transform: scale( 1.125 ) rotate( -15deg );

                }

            }

        }

        & p {

            position: absolute;
            left: 120px;
            top: 24px;

        }

    }

}